@tailwind base;
@tailwind components;
@tailwind utilities;

.spanlink {
  border-bottom: solid 3px #fffb00;
}

.spanlink:after {
  display: block;
  content: '';
  border-bottom: solid 5px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.spanlink:hover:after {
  transform: scaleX(1);
}
